# Data
*.csv
*.xlsx
.~*
data

# User
config
visual
__pycache__
model
doc
transformer_experiment*
da_rnn_experiment*
flow_forecast
experiment
rotating_donut.c
rotating_donut
range
runs

# Environment
.env
.venv
.directory
.vscode